@tailwind base;
@tailwind components;
@tailwind utilities;



.special-underline {
    @apply bg-gradient-to-t from-yellow-200 to-yellow-200 dark:from-gray-800 dark:to-gray-800
    bg-no-repeat [background-position:0_88%]
    [background-size:100%_0.2em]
    motion-safe:transition-all motion-safe:duration-200
    hover:[background-size:100%_100%]
    focus:[background-size:100%_100%] px-1;
}

.qwezxc {
    /* For debug element */
    @apply border border-red-500 
}

.asdzxc {
    /* For debug element */
    @apply ring-2 ring-offset-2 ring-red-500 
}

.button-wowsbar {
    @apply bg-gray-600 hover:bg-gray-700 active:bg-gray-800 select-none
}

* {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-gray-500
}

.skeleton {
    @apply relative before:absolute before:inset-0 before:-translate-x-full before:animate-skeleton before:bg-gradient-to-r before:from-transparent before:via-gray-200/60 before:to-transparent isolate overflow-hidden shadow-xl shadow-black/5 before:border-y before:border-white/30 bg-gray-300
}

.tabNavigationActive {
    @apply bg-slate-700 sm:border-l-4 sm:border-amber-300 text-amber-300 dark:text-gray-300 transition-all duration-100 ease-in-out
}

.tabNavigation {
    @apply hover:bg-gray-200/30 dark:hover:bg-gray-600 text-white dark:text-gray-400 transition-all duration-100 ease-in-out
}

/* Transition name="slide-to-right" */
.slide-to-right-enter-active {
    transition: all 0.1s ease-out;
}
.slide-to-right-leave-active {
    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-to-right-enter-from {
    transform: translateX(-20px);
    opacity: 0;
}
.slide-to-right-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

/* Transition name="slide-to-left" */
.slide-to-left-enter-active {
    transition: all 0.1s ease-out;
}
.slide-to-left-leave-active {
    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-to-left-enter-from {
    transform: translateX(20px);
    opacity: 0;
}
.slide-to-left-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}